body{
    background-color: #E5E5E5;
}

header{
    width: 95%;
}

header img{
    margin: 3% 0 0 3%;
    width: 10%;
}

main{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    height: 35rem;
    position: absolute;
    top: 7%;
}

.window-1{
    display: inline-block;
    width: 65%;
    align-items: center;
    vertical-align: top;
    margin-left: 2rem;
    height: 80vh;
    margin-top: 2vh;
    text-align: center;
}

#comentarios{
    width: 40vw;
    margin: 5% auto;
    text-align: left;
    direction: ltr;
    padding: 20px;
    caret-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: none;
    resize: none;
    border: none;
    outline: none;
}

.window-1 input[type=button]{
    padding: 1.5em 8em;
    margin: auto 22px;
    border-radius: 24px
}

.btn-encriptar{
    color: white;
    background-color: #0A3871;
}

.btn-desencriptar{
    color: #0A3871 ;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.window-2{
    display: inline-block;
    width: 30%;
    height: 90vh;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
}

.texto-traducido{
    margin: 15% 10% 0 10%;
    text-align: center;
    display: none;
}

.caja-muneico{
    text-align: center;
    display: inline;
    position: absolute;
    margin-top: 5rem;
    margin-right: 1.2rem;
}

.caja-muneico img{
    display: inline;
    width: 84%;
}

.w2-caja-texto{
    width: 80%;
    margin: 0px auto;
}

.w2-caja-texto h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.w2-caja-texto p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;  
    color: #495057;
    align-self: stretch;
}
    
footer{
    position: absolute;
    bottom: 0%;    
    text-align: center;
}

.copyright{
    
    display: block;
    margin: 0 auto;
}