body{
    background-color: #E5E5E5;
  
}

header{
    width: 95%;
    
    margin: 0 auto;
}

header img{
    margin-top: 2%;
    width: 6%;
}

main{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    top: 5%;
    height: calc(100vh - 15vh);
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}

.window-1{
    display: inline-block;
    width: 65%;
    align-items: center;
    vertical-align: top;
    height: 100%;
    text-align: center;
    height: 100%;
    order: 1;
}

#prp-text-area{
    width: 70%;
    margin: 8% auto 0px auto;
    direction: ltr;
    padding: 20px;
    height: 50vh;       
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    color: #0A3871;
    background: none;
    resize: none;
    border: none;
    outline: none;
}

#prp-text-area::placeholder{
    color: #0A3871;
}

.window-1 input[type=button]{
    padding: 1.2em ;
    border-radius: 24px;
    width: 35%;
    font-size: 15px;
}

.window-1 input[type=button]:hover{
    transform: scale(1.05);
    margin: 0 5px 0 5px;
    transition: 0.7s;

}

.btn-encriptar{
    color: white;
    background-color: #0A3871;
}

.btn-desencriptar{
    color: #0A3871 ;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.w1-obsv{
    display: flex;
    width: 65%;
    margin-left: 20%;
}

.w1-obsv p{
    color: #495057;
    opacity: 0.8;
    font-weight: 600;
    margin: 2% 0 2% 0;
}

.window-2{
    display: inline-flex;
    flex-direction: column;
    width: 27.78%;
    background: #FFFFFF;
    border-radius: 32px;
    height: 95%;
    align-items:center;
    justify-content: space-between;
    padding: 3% 0 3% 0;
    order: 2;
}

.texto-traducido{
    margin: 15% 10% 0 10%;
    text-align: left;
    display: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #495057;
    height: 80%;
    display: none;
}

.caja-muneico{
    width: 84%;
    order: 1;
}

.caja-muneico img{
    width: 100%;

}

.w2-caja-texto{
    width: 80%;
    order: 2; 
}

.w2-caja-texto h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    color: #343A40;
}

.w2-caja-texto p{
    font-family: 'Inter';
    font-size: 16px;
    text-align: center;  
    color: #495057;
}

#btn-copiar{
    padding: 1.2em 0;
    text-align: center;
    border-radius: 24px;
    width: 80%;
    font-size: 15px;
    order: 3;   
}
    
footer{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;

}

.copyright{
    color: #495057;
    text-shadow: 2px 8px 6px silver;
    margin: 1%;
    font-size: 1.2em;
}

@media (max-width: 768px){

    header img{
        width: 15%;
    }
    main{
        flex-direction: column;
        height: auto;
         }

    .window-1{
        height: auto;
        width: 90%;
    }

    #prp-text-area{
        width: 90%;
        font-size: 2em;
        margin-top: 2%;
        height: 80vh;


    }

    .window-2{
        height: auto;
        width: 90%;
        
    }

    .texto-traducido{
       margin: 0 8% 4% 8%;
       font-size: 2em;
    }

    .caja-muneico{
        display: none;
    }

    footer{
        display: flex;
    }
}