header img, select{
    display: inline-block;
    
}

.s-idioma {
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    color: #555;
    font-size: 1em;
    padding: 12px 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .s-idioma:hover, .s-idioma:focus {
    background-color: rgba(6, 6, 95, 0.2);
    outline: none;
  }
  
  .s-idioma option {
    background-color: #f2f2f2;
    color: #555;
    font-size: 1em;
    padding: 12px 24px;
  }
  
  .s-idioma option:hover {
    background-color: #e6e6e6;
  }
  
body{
    background-color: #E5E5E5;
}

header{
    width: 95%;
    
    margin: 0 auto;
}

header img{
    margin-top: 2%;
    width: 6%;
}

/* Efectos globales de los Botones*/
body input[type=button]{
    padding: 1.2em ;
    border-radius: 24px;
    font-size: 15px;
    font-weight: bold;
    width: 35%;
}

body input[type=button]:hover{
    cursor: pointer;
}

body input[type=button]:nth-child(1){
    background-color: #0A3871;
    color: #D8DFE8;
}

body input[type=button]:nth-child(1):disabled{
    background-color: rgba(10, 56, 113,0.2);
}

body input[type=button]:nth-child(2),
body input[type=button]:nth-child(4){
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}

body input[type=button]:nth-child(2):disabled,
body input[type=button]:nth-child(4):disabled{
    background-color: rgba(216, 223, 232, 0.2);
    border: 1px solid rgba(10, 56, 113, 0.5);
}

body input[type=button]:nth-child(4){
    text-align: center;
    order: 3;
    transition: 0.4s;
}

body input[type=button]:nth-child(4):hover{
    width: 80%;
    transition: 0.4s;
}

body input[type=button]:disabled{
    color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
}
/* Aqui finalizan los efecto globales de los botones*/

main{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    top: 5%;
    height: calc(100vh - 15vh);
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}

.window-1{
    display: inline-block;
    width: 65%;
    align-items: center;
    vertical-align: top;
    height: 100%;
    text-align: center;
    height: 100%;
    order: 1;
}

#prp-text-area{
    width: 70%;
    margin: 8% auto 0px auto;
    direction: ltr;
    padding: 20px;
    height: 50vh;       
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    color: #0A3871;
    background: none;
    resize: none;
    border: none;
    outline: none;
}

#prp-text-area::placeholder{
    color: rgba(10, 56, 113,0.5);
}

.w1-obsv{
    display: flex;
    width: 65%;
    margin-left: 20%;
}

.w1-obsv p{
    color: #495057;
    opacity: 0.8;
    font-weight: 600;
    margin: 2% 0 2% 0;
}

.window-2{
    display: inline-flex;
    flex-direction: column;
    width: 27.78%;
    background: #FFFFFF;
    border-radius: 32px;
    height: 95%;
    align-items:center;
    justify-content: space-between;
    padding: 3% 0 3% 0;
    order: 2;
}

.texto-traducido{
    margin: 15% 10% 0 10%;
    text-align: left;
    display: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #495057;
    height: 80%;
    display: none;
}

.caja-muneico{
    width: 84%;
    order: 1;
}

.caja-muneico img{
    width: 100%;

}

.w2-caja-texto{
    width: 80%;
    order: 2; 
}

.w2-caja-texto h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    color: #343A40;
}

.w2-caja-texto p{
    font-family: 'Inter';
    font-size: 16px;
    text-align: center;  
    color: #495057;
}

footer{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;

}

.copyright{
    color: #495057;
    text-shadow: 2px 8px 6px silver;
    margin: 1%;
    font-size: 1.2em;
}

@media (max-width: 768px){

    .window-1 input[type=button]{
        width: 45%;
    }

    .window-2 input[type=button]{
        width:80%;
    }

    header img{
        width: 15%;
    }
    main{
        flex-direction: column;
        height: auto;
         }

    .window-1{
        height: auto;
        width: 90%;
    }

    #prp-text-area{
        width: 90%;
        font-size: 2em;
        margin-top: 2%;
        height: 50vh;
    }

    .window-2{
        height: auto;
        width: 90%;
        margin-top: 5%;
    }

    .texto-traducido{
       margin: 0 8% 4% 8%;
       font-size: 2em;
       height: 10vh;
    }

    .caja-muneico{
        display: none;
    }

    footer{
        display: flex;
    }
}

@media (max-width: 375px){
    header img{
        width: 15%;
    }
    main{
        flex-direction: column;
        height: auto;
         }

    .window-1{
        height: auto;
        width: 90%;
    }

    #prp-text-area{
        width: 90%;
        font-size: 2em;
        margin-top: 2%;
        height: 40vh;
    }

    .caja-botones-w1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .window-1 input[type=button]{
        width: 80%;
        margin-bottom: 5%;
    }

    .window-2{
        width: 90%;
    }

    .texto-traducido{
       font-size: 1.3em;
       width: 80%;
    }

    .caja-muneico{
        display: none;
    }

    footer{
        display: flex;
    }

}